#mycss {
  background-color: #ffffff;
    border: solid;
    border-color: #1ab394;
    margin-bottom: 0;
    padding: 15px 90px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 8px;
    color: #1ab394;
    transition: background-color  0.80s;
    margin-right: 20px;
}

#mycss:hover {
  color: white;
  background-color: #1ab394;
}


#mycss_content {
  background-color: white;
    /* border-color: #1ab394; */
    /* border-image: none; */
    border: solid;
    border-color: #f8ac59;
    /* color: inherit; */
    margin-bottom: 0;
    padding: 15px 90px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 8px;
    color: #f8ac59 ;
    transition: background-color  0.80s;
}

#mycss_content:hover {
  color: white;
  background-color: #f8ac59;
  border-color: #f8ac59;
}